@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
body {
  margin: 0;
  background-image: url(../images/bg.png);
}

body .left-col {
  display: none;
  background-color: #ECECEC;
  height: 100vh;
  -webkit-animation-name: moveInFromLeft;
          animation-name: moveInFromLeft;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

body .left-col nav ul {
  margin: 30px 50px 0 50px;
  padding: 0;
}

body .left-col nav ul .close-mobile-menu {
  display: none;
  position: absolute;
  right: 30px;
  cursor: pointer;
}

body .left-col nav ul .WebLogo {
  width: 100%;
}

body .left-col nav ul li {
  list-style-type: none;
  margin-left: 40px;
  font-family: Aclonica;
  font-size: 1.4em;
  margin-bottom: 1.1em;
  cursor: pointer;
}

body .left-col nav ul li a {
  text-decoration: none;
  color: inherit;
}

body .left-col nav ul li:hover {
  background-color: #C8C8C8;
  -webkit-transition: 300ms;
  transition: 300ms;
}

body .left-col nav ul .currentPage {
  color: #B0B0B0;
}

@-webkit-keyframes moveInFromLeft {
  0% {
    left: -500px;
  }
  100% {
    left: 0;
  }
}

@keyframes moveInFromLeft {
  0% {
    left: -500px;
  }
  100% {
    left: 0;
  }
}

body .right-col {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
}

body .right-col .mobile-menu {
  top: 0;
  left: 0;
  cursor: pointer;
  height: 1cm;
  width: 1cm;
}

body .right-col .profilePicContainer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 0;
  border: solid 2px grey;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .right-col .messageMainContainer {
  height: 60vh;
  width: 100%;
}

body .right-col .profilePicContainer img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 10px 50px 10px 50px;
}

body .right-col .profilePicContainer .selectionDropdown {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 90%;
  padding: 0;
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .right-col .profilePicContainer .selectionDropdown span {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FF3183;
  color: white;
  font-weight: bold;
  border-radius: 0.8em;
  border: none;
  text-align: center;
  font-size: 1em;
  box-shadow: 5px 5px 10px #2e2e2e;
  transition: .2s;
  cursor: pointer;
}

body .right-col .profilePicContainer .selectionDropdown span:hover {
  background-color: #b61656;
}

body .right-col .messageMainContainer .inputSection .sendBtn{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .1s;
}

body .right-col .messageMainContainer .inputSection .sendBtn:hover{
  color: #d13372;
}

body .right-col .messageMainContainer .inputSection .textInput{
  width: 90%; 
  height: inherit; 
  border: solid 2px grey; 
  box-sizing: border-box; 
  border-radius: 10px;
  font-size: 1.2em;
}

body .right-col .messageMainContainer .messageSection{
  width: 100%; 
  height: 90%; 
  overflow-y: auto;
  padding: 10px;
  border: solid 1px grey;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.messageContentContainerYou{
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(255, 147, 167);
  max-width: 70%;
  margin-left: auto;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.messageContentContainerThem{
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(211, 211, 211);
  max-width: 70%;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 800px) {
  body {
    display: -ms-grid;
    display: grid;
  }
  body .mobile-menu {
    display: none;
  }
  body .left-col {
    display: block;
    height: 100vh;
    width: 40%;
    position: fixed;
    left: 0;
    top: 0;
  }
  body .right-col {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 60%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  body .right-col .profilePicContainer {
    margin: 20px;
    width: auto;
  }
}
/*# sourceMappingURL=messages.css.map */